<div data-controller="toggle" class="comments-wrapper">
  <div class="main-comment my-3 d-flex flex-column" data-controller="vote" data-vote-id="<%= comment.id %>">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <% if comment.user.photo.present? %>
          <%= cl_image_tag comment.user.photo.key, style: "width: 35px; height: 35px; object-fit: cover; border-radius: 50%;" %>
        <% else %>
          <%= image_tag "https://example.com/default-avatar.jpg", style: "width: 35px; height: 35px; object-fit: cover; border-radius: 50%;" %>
        <% end %>
        <p class="username ms-2"> <%= comment.user.name %> </p>
      </div>
    </div>
    <p class="mb-0"> <%= comment.content %> </p>
    <%= render 'topics/reply', comment: comment, new_comment: new_comment %>
  </div>
</div>
