<div id="replies_turbo_<%= comment.id %>">
  <div class="replies d-flex flex-column">
    <% comment.comments.order(:created_at).each do |reply| %>
      <div class="sub-comment d-flex">
        <% if reply.user.photo.present? %>
          <%= cl_image_tag reply.user.photo.key, style: "width: 20px; height: 20px; border-radius: 50%;" %>
        <% else %>
          <%= image_tag "https://example.com/default-avatar.jpg", class: "avatar" %>
        <% end %>
        <div class="ms-2 flex-grow-1">
          <p class="username mb-0"><strong><%= reply.user.name %></strong></p>
          <p class="reply-content mb-0"><%= reply.content %></p>
        </div>
      </div>
    <% end %>
    <%= render 'topics/reply_form', comment: comment, new_comment: new_comment || Comment.new %>
  </div>
</div>
